# Variables de entorno para desarrollo local
# Configura estos valores según tu base de datos MySQL existente
DB_HOST=tu-host-mysql
DB_PORT=3306
DB_NAME=bd
DB_USER=user
DB_PASSWORD=pass
# Para Google Drive usa: https://drive.google.com/uc?export=download&id=TU_FILE_ID
JASPER_TEMPLATE_URL=https://drive.google.com/uc?export=download&id=1__4FMBUqmt45LWlUEU8C0amOVOrcMuFe
